.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px 10px;
}
.home .image img {
  width: 70%;
}
.home h1 {
  font-size: 40px;
}
.home p {
  font-size: 25px;
}
.review-container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn .all-review {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  border: 2px solid rgb(64, 227, 159);
  background-color: rgb(115, 248, 248);
  border-radius: 10px;
  font-size: 30px;
  padding: 20px;
}
