.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px 10px;
}
.home .image img {
  width: 70%;
}
.home h1 {
  font-size: 40px;
}
.home p {
  font-size: 25px;
}
.review-container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home a {
  text-decoration: none;
  color: black;
  border: 1px solid rgb(242, 234, 234);
  border-radius: 10px;
  background-color: rgb(205, 243, 221);
  padding: 15px;
  font-size: 25px;
}
