.main-container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.chart-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
